APP_ENV=production
YII_ENV=prod
YII_DEBUG=0
APP_COOKIE_VALIDATION_KEY=
DB_DSN=mysql:host=127.0.0.1;port=3306;dbname=nfdetranrs
DB_USERNAME=
DB_PASSWORD=
COMPANY_CDV_CODE=CDV00027
COMPANY_CNPJ=05034500000168
COMPANY_LEGAL_NAME=OFICINA DA MOTO COMERCIO DE PECAS LTDA
COMPANY_TRADE_NAME=OFICINA DA MOTO
COMPANY_ADDRESS=RUA DOUTOR JOAO INACIO, 218 - NAVEGANTES - PORTO ALEGRE/RS - 90230-180
GID_ENVIRONMENT=production
GID_ENVIRONMENT_CODE=1
GID_ALIAS_URL=http://desmanches.detran.rs.gov.br/integracaonfe
GID_WSDL_URL=https://secweb.procergs.com.br/cdv/IntegracaoGidSoap?wsdl
GID_SERVICE_URL=https://secweb.procergs.com.br/cdv/IntegracaoGidSoap
GID_CERT_PATH=
GID_CERT_PASSWORD=
GID_CONNECTION_TIMEOUT=30
GID_VERIFY_PEER=1
GID_LAYOUT_VERSION=1
GID_OPERATOR_REGISTRATION=
GID_HOMOLOGATION_OPERATION=
GID_ISSUER_NAME=NFDETRANRS
GID_ISSUER_CNPJ=05034500000168
# Em producao, defina APP_ENV=production no servidor e mantenha este arquivo fora do Git.
# Nunca versionar certificados, tokens ou senhas de GID/SEFAZ.
