APP_ENV=local
YII_ENV=dev
YII_DEBUG=1
APP_COOKIE_VALIDATION_KEY=gere-uma-chave-local-com-64-caracteres-hexadecimais
DB_DSN=mysql:host=127.0.0.1;port=3306;dbname=nfdetranrs
DB_USERNAME=nfdetranrs
DB_PASSWORD=defina-uma-senha-local
COMPANY_CDV_CODE=CDV00027
COMPANY_CNPJ=05034500000168
COMPANY_LEGAL_NAME=OFICINA DA MOTO COMERCIO DE PECAS LTDA
COMPANY_TRADE_NAME=OFICINA DA MOTO
COMPANY_ADDRESS=RUA DOUTOR JOAO INACIO, 218 - NAVEGANTES - PORTO ALEGRE/RS - 90230-180
GID_ENVIRONMENT=homologation
GID_ENVIRONMENT_CODE=2
GID_ALIAS_URL=http://desmanches.hml.detran.rs.gov.br/integracaonfe
GID_WSDL_URL=https://secweb.hml.intra.rs.gov.br/cdv/IntegracaoGidSoap?wsdl
GID_SERVICE_URL=https://secweb.hml.intra.rs.gov.br/cdv/IntegracaoGidSoap
GID_CERT_PATH=
GID_CERT_PASSWORD=
GID_CONNECTION_TIMEOUT=30
GID_VERIFY_PEER=1
GID_LAYOUT_VERSION=1
GID_OPERATOR_REGISTRATION=
GID_HOMOLOGATION_OPERATION=
GID_ISSUER_NAME=NFDETRANRS
GID_ISSUER_CNPJ=05034500000168
# Nunca versionar certificados, tokens ou senhas de GID/SEFAZ.
